# .gitignore

```bash

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# VSCode & IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Daten & Outputs
*.xlsx
*.db
*.json

# Logs
*.log
